body {
  background-color: gray;
  min-width: 800px;
}
.galleryWrap {
  position: absolute;
  width: 70vw;
  hyphens: 60vh;
  margin: 20vh 15vw;
  box-shadow: 0 0px 100px 0 rgba(0,0,0,.35);
  background-color: white;
  min-width: 560px;
}
.gallery2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
}

div.Small2 {
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 60vh;
  align-items: flex-start;

}

figure.Bigimg2{
  width: 60vh;
  height: 60vh;
}

figure.Small2 {
  width: 30vh;
  height: 30vh;
}

.Bigimg2#img1 {
  background-image: url(../images/3.jpg);
}

.Bigimg2#img2 {
  background-image: url(../images/8.jpg);
}

.Bigimg2#img3 {
  background-image: url(../images/7.jpg);
}

.Small2#img1 {
  background-image: url(../images/2.jpg);
}

.Small2#img2 {
  background-image: url(../images/1.jpg);
}

.Small2#img3 {
  background-image: url(../images/5.jpg);
}

.Small2#img4 {
  background-image: url(../images/6.jpg);
}

.Small2#img5 {
  background-image: url(../images/9.jpg);
}

.Small2#img6 {
  background-image: url(../images/4.jpg);
}
